<section>
    <div class="container">
        
        <div class="row mt-5">
            <div class="col-md-4"></div>
            <form action="/admin/login" class="col-md-5" method="POST">
                <div class="mb-3">
                    <label for="userName" class="form-label">User Name</label>
                    <input type="text" name="UserName" placeholder="User Name"  class="form-control"
                        id="userName">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" s name="Password" placeholder="Password"
                        class="form-control" id="exampleInputPassword1">
                </div>
                <div class="row">
                  <div class="col-md-4"></div>

                <button type="submit" class="btn btn-primary col-md-3 mt-3">Submit</button>
            
                </div>
            </form>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>