<div class="container">
    <form action="/admin/AddnewChit" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">1</label>
                <input type="text" class="form-control" name="Chit number" id="inputEmail4" placeholder="">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">2</label>
                <input type="text" class="form-control" name="abc" id="inputPassword4" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">3</label>
            <input type="text" class="form-control" id="inputAddress" name="abcd" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputAddress2">4</label>
            <input type="text" class="form-control" name="abcde" id="inputAddress2" placeholder="">
        </div>

        <div class="form-group col-md-4">
            <label for="inputState">5</label>
            <select id="inputState" class="form-control">
                <option>Choose...</option>
                <option>...</option>
            </select>
        </div>

</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>