<section>
    <div class="container m-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="/admin/UpdatePasswordName" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">Enter User Name</label>
                        <input type="text" name="UserName" placeholder="User Name" class="form-control" id="userName">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"> Enter Old Password</label>
                        <input type="password" name="OldPassword" placeholder="Old Password" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"> Enter New Password</label>
                        <input type="password" name="NewPassword" placeholder="New Password" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label"> Confirm New Password</label>
                        <input type="password" name="ConfirmPassword" placeholder="Confirm Password"
                            class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <button type="submit" class="btn btn-primary ml-3">Change Password</button>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</section>